[settings]
[settings]
combine_as_imports=true
include_trailing_comma=true
lines_after_imports=2
default_section = THIRDPARTY
known_first_party = src  # change it for the name of your django project
known_django = django
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
skip=venv,migrations,django_project
not_skip=__init__.py
line_length=88

# in project directory run: isort src
# in project directory run: black src

known_third_party = accounts,activity,core,invoices,mptt,pdf2image,products,xhtml2pdf
