{% extends "base.html" %}
{% load static %}


{% block content %}

{% include 'core/blu/blu_top_nav.html' %}

<div class="blu_silo">
  {% for object in object_list %}
  <div class="blu_catigory product_list">
    <div class="blu_catigory_cover_photo product_list">
      <a href="{{ object.get_absolute_url }}" class="link-block product_list w-inline-block">
        <img src="{{ object.get_first_photo }}" alt="{{ object.verbose_name }}">
      </a>
    </div>
    <div class="blu_catigory_name_txt product_list">{{ object.verbose_name|truncatechars:40 }}<br>{{ object.sku }}</div>
    <div class="blu_list_category_buttons_div">
      <a href="{% url 'products:product_left' slug=object.slug %}" class="turn_left_button w-button">&lt;</a>
      <a href="{% url 'products:product_right' slug=object.slug %}" class="turn_right_button w-button">&gt;</a>
      <a href="{% url 'products:product_edit' slug=object.slug %}" class="blu_list_product_edit_button w-button">Edit</a>
      <a href="{% url 'products:product_delete' slug=object.slug %}" class="blu_list_product_delete_button delete w-button">🗑</a>
    </div>
  </div>
  {% endfor %}
  <div class="blu_add_category">
    <a href="{% url 'products:product_create' %}" class="blu_category_add_button w-button">Add Product</a>
  </div>

<!-- Pagination -->
{% include 'core/pagination.html' with object_list=object_list page_range=page_range %}
</div>

{% include 'core/blu/blu_bottom_nav.html' %}

{% endblock %}
