{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<!--<h2 class="blulinkheader">Forgotten your password?</h2>-->

<!--<form class="form-centered" method="post">-->
<!--  {% csrf_token %}-->
<!--  {{ form.as_p }}-->
<!--  <p><input class="create-object-submit-button" type="submit" value="Send e-mail"></p>-->
<!--</form>-->


<div class="main_app_silo">
  <div class="div-block-16">
    <h1 class="heading-6">Forgotten your password?</h1>
    <div class="main_app_login">
      <form id="wf-form-Email-Form2" name="wf-form-Email-Form" data-name="Email Form" class="form-2" method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {{ form.email.errors }}
        <label class="field-label-2">{{ form.email.label }}</label>
        {{ form.email|add_class:"w-input" }}
        <input type="submit" value="Send e-mail" class="w-button">
      </form>
    </div>
  </div>
</div>


{% endblock %}
