{% extends "base.html" %}
{% load static %}


{% block content %}

<style>
  div.main_app_silo > form > ul {
    list-style: none;
  }
</style>

{% include 'core/ohi/ohi_top_nav.html' %}

<div class="main_app_silo">
  <h2 class="blulinkheader">Change your password</h2>

  <form class="form-centered"  method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p><input class="create-object-submit-button" type="submit" value="Submit"></p>
  </form>

</div>

{% include 'core/ohi/ohi_bottom_nav.html' %}

{% endblock %}
