{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="main_app_silo">
<h2 class="blulinkheader">Reset your password</h2>
<hr/>
  <br/>
  <br/>
  <br/>
<p class="blulinkheader">We've emailed you instructions for setting your password.</p>
<p class="blulinkheader">If you don't receive an email, <a href="{% url 'password_reset' %}" class="main_app_button ">send another email</a> and please make sure you've entered the email address you registered with.</p>
</div>

{% endblock %}
