{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block content %}

<style>
  form > ul {
    list-style: none;
  }
</style>

<div class="main_app_silo">
  <h1 class="blulinkheader">Reset your password</h1>

  {% if validlink %}
    <p class="blulinkheader">Please enter your new password twice:</p>
    <form id="wf-form-Email-Form2" name="wf-form-Email-Form" data-name="Email Form" class="form-2" method="post">{% csrf_token %}
      {{ form.non_field_errors }}

      {{ form.new_password1.errors }}
      <label class="field-label-2">{{ form.new_password1.label }}</label>
      {{ form.new_password1|add_class:"w-input" }}
      {{ form.new_password1.help_text }}
      {{ form.new_password2.errors }}
      <label class="field-label-3">{{ form.new_password2.label }}</label>
      {{ form.new_password2|add_class:"w-input" }}


<!--      {{ form.as_p }}-->
      <p><input class="w-button" type="submit" value="Change my password"/></p>
    </form>
  {% else %}
    <p class="blulinkheader">The password reset link was invalid, possibly because it has
       already been used. Please request a new password reset.</p>
  {% endif %}
</div>

{% endblock %}
