{% extends "base.html" %}
{% load static %}


{% block content %}

{% include 'core/blu/blu_top_nav.html' %}

<div class="blu_silo">
  <div class="blu_invoice_detail_render_block_2">
      <div class="blu_invoice_detail_render">
          <img src="{{ invoice.image.url }}" alt="{{ invoice.invoice_title }}">
      </div>
      <a href="{% url 'invoices:invoice_update' slug=invoice.slug %}" class="blu_invoice_catigory_edit_button-copy w-button">Edit</a>
      <a href="{% url 'invoices:invoice_delete' slug=invoice.slug %}" class="blu_invoice_catigory_delete_button blu_invoice_catigory_edit_button w-button">Delete</a>
      <a href="{% url 'invoices:invoice_pdf' pk=invoice.pk %}" class="blu_invoice_catigory_delete_button blu_invoice_catigory_edit_button w-button">PDF</a>
  </div>

  <h4 class="invoice_details_header">Title: {{ invoice.invoice_title }}</h4>
  <h4 class="invoice_details_header">Invoice nr.: {{ invoice.invoice_nr }}</h4>
  <h4 class="invoice_details_header">Customer company name: {{ invoice.customer_company_name }}</h4>
  <h4 class="invoice_details_header">Customer name: {{ invoice.customer_name }}</h4>

  <h4 class="invoice_details_header">Customer email: {{ invoice.customer_email }}</h4>
  <h4 class="invoice_details_header">Customer phone number: {{ invoice.customer_phone_number }}</h4>
  <h4 class="invoice_details_header">Customer shipping address: {{ invoice.customer_shipping_address }}</h4>
  <h4 class="invoice_details_header">Customer billing address: {{ invoice.customer_billing_address }}</h4>

  <h4 class="invoice_details_header">Line item 1: {{ invoice.line_item_1 }}</h4>
  <h4 class="invoice_details_header">Line item 2: {{ invoice.line_item_2 }}</h4>
  <h4 class="invoice_details_header">Line item 3: {{ invoice.line_item_3 }}</h4>
  <h4 class="invoice_details_header">Line item 4: {{ invoice.line_item_4 }}</h4>

  <h4 class="invoice_details_header">Line item 5: {{ invoice.line_item_5 }}</h4>
  <h4 class="invoice_details_header">Line item 6: {{ invoice.line_item_6 }}</h4>
  <h4 class="invoice_details_header">Line item 7: {{ invoice.line_item_7 }}</h4>
  <h4 class="invoice_details_header">Line item 8: {{ invoice.line_item_8 }}</h4>

  <h4 class="invoice_details_header">Line item 9: {{ invoice.line_item_9 }}</h4>
  <h4 class="invoice_details_header">Line item 10: {{ invoice.line_item_10 }}</h4>
  <h4 class="invoice_details_header">Shipping charge: {{ invoice.shipping_charge }}</h4>
  <h4 class="invoice_details_header">Tax: {{ invoice.tax }}</h4>

  <h4 class="invoice_details_header">Total due: {{ invoice.total_due }}</h4>
  <h4 class="invoice_details_header">Total paid: {{ invoice.total_paid }}</h4>
  <p class="invoice_details_header">Visible notes: {{ invoice.visible_notes }}</p>
  <p class="invoice_details_header">Private notes: {{ invoice.private_notes }}</p>
</div>

{% include 'core/blu/blu_bottom_nav.html' %}

{% endblock %}
